@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');

body {
  background: #ececec;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Titillium Web', sans-serif;
  justify-content: center;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
